body{
    background-color: aqua;
}
.i{
    display: flex;
    flex-direction: column;
    width: 280px;   
}
.galeria{
    text-align: center;
    margin-top: 30px;
}
table{
    display: flex;
    justify-content: center;
}
button{
    background-color: #80c7bb; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
div{
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
    color: green;
}

